asgiref
Django
django-filter
Markdown
pytz
sqlparse
uvicorn
gunicorn
dj-rest-auth
django-allauth
djangorestframework
djangorestframework-simplejwt
dj-rest-auth
django-allauth
requests
drf-yasg
ruamel.yaml