asgiref==3.4.1
Django==3.2.6
django-filter==2.4.0
Markdown==3.3.4
pytz==2021.1
sqlparse==0.4.1
uvicorn
gunicorn
dj-rest-auth
django-allauth
djangorestframework
djangorestframework-simplejwt
dj-rest-auth
django-allauth
requests
drf-yasg
ruamel